PORT=5000
MONGODB_URI=
FRONTEND_URL=http://localhost:3000
NODE_ENV=development

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

JWT_SECRET=
COOKIE_SAME_SITE=lax

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
CONTACT_RECEIVER_EMAIL=
